/* ----------FONTS---------- */

.manrope-500 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.manrope-700 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

/* ----------COLORS---------- */

.very-dark-grayish-blue {
  color: hsl(217, 19%, 35%);
}

.desaturated-dark-blue {
  color: hsl(214, 17%, 51%);
}

.grayish-blue {
  color: hsl(212, 23%, 69%)
}

.light-grayish-blue {
  color: hsl(210, 46%, 95%)
}

/* ----------APP COMPONENT---------- */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  background-color: hsl(210, 46%, 95%);
}

/* ----------ARTICLE PREVIEW COMPONENT---------- */

.article-card {
  width: 325px;
  border-radius: 10px;
  background-color: white;
}

.article-image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-text-container {
  padding: 32px 34px;
}

.article-title {
  font-size: 16px;
  line-height: 23px;
}

.article-paragraph {
  margin-top: 15px;
  font-size: 13px;
  line-height: 20px;
}

.user-section {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 34px 18px;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article-information {
  margin-left: 16px;
}

.user-name {
  font-size: 13px;
}

.article-date {
  font-size: 13px;
  color: gainsboro;
}

.share-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

/* ----------MEDIA QUERIES---------- */
